@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    
    <br/>

    <!-- Jumbotron -->
    <div class="jumbotron2">
        <img src="~/Resources/pgs_bg.png" width="100%"/>
        <!--<h1>Pheenix Game Studios</h1>
        <a class="btn btn-lg btn-success" href="#" role="button">Get started today</a>-->
    </div>

    <!-- Example row of columns -->
    <div class="row">
        <h1>Welcome!</h1>
        <p class="title-desc">
            Pheenix is a group of developers dedicated to providing high-quality games to the masses! We pride ourselves in intricate coding techniques, blended with aestetically appealing graphical user interfaces and gameplay. The reason we started this group was because we felt that Hollywood had too much a hold on the gaming department. Take, for example, the Madden series. The whole game is repeated year-to-year, and there are few improvements, and yet, it SELLS OUT?!?!?!? There is seriously something wrong with that....<br/><br/>
            With that in mind, we formed this development group to provide quality independent games that are free from the corporate and political machine we call Hollywood. We hope to become well-known enough to overthrow this grip Hollywood has on us, so they follow our lead, not the other way around. I mean, there is a channel for independent movies, why not games?</p>
        <p>
    </div>

</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
